{% schema %}
{
  "name": "Flavor",
  "settings": [],
  "presets": [
    {
      "name": "Flavor",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}
<link rel='stylesheet' href='{{ 'flavor-styles.css' | asset_url }}'>

<section class='background-flavor'>
  <a href='collections/all' class='check-flavor'>
    <img src='{{ 'check1.png' | asset_url }}'>
  </a>
  <div class='flavor-mood'><h2 class='flavor-mood2'>WHAT KIND OF FLAVOR SUITS YOUR MOOD?</h2></div>
  <div class='img-flavor'><img src='{{ 'four.png' | asset_url }}'></div>
</section>

<script>
  const checkFlavor = document.querySelector('.check-flavor');
  const backgroundFlavor = document.querySelector('.background-flavor');
  const imgFlavor = document.querySelector('.img-flavor img');
  const flavorMood = document.querySelector('.flavor-mood2');

  // Store the original image source
  const originalImgSrc = imgFlavor.src;

  // Add a hover event listener to the check-flavor div
  checkFlavor.addEventListener('mouseover', () => {
    backgroundFlavor.style.backgroundColor = 'white'; // Change background color to white on hover
    imgFlavor.src = '{{ 'four2.png' | asset_url }}'; // Replace 'new-image-url.jpg' with the URL of your new image
    flavorMood.style.color = '#323232';
  });

  // Add a mouseout event listener to reset the background color when the mouse leaves
  checkFlavor.addEventListener('mouseout', () => {
    backgroundFlavor.style.backgroundColor = 'black'; // Reset background color
    imgFlavor.src = originalImgSrc;
    flavorMood.style.color = 'white';
  });
</script>
