{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "presets": [
    {
      "name": "Hero Section",
      "category": "layout"
    }
  ]
}
{% endschema %}
<link rel='stylesheet' href='{{ 'hero-section.css' | asset_url }}'>
<section class='background-hero'>
  <div class='bottle'>
    <img src='{{ 'Fresh Milk.png' | asset_url }}' class='bottle-img'>
  </div>
  <div class='price'>
    <img src='{{ 'FM.png' | asset_url }}' class='price-img'>
    <a href='/' class='button-fm'>
      <img src='{{ 'FM_button.png' | asset_url }}' class='button-fm-img'>
    </a>
  </div>
</section>
