{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "presets": [
    {
      "name": "Hero Section",
      "category": "layout"
    }
  ]
}
{% endschema %}

<div
  class='background-hero'
  style="background-image:url('{{ 'in-my-milk-era.png' | asset_url }}')"
  ​​​​​​
></div>
