{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "presets": [
    {
      "name": "Hero Section",
      "category": "layout"
    }
  ]
}
{% endschema %}
<div
  class='uns_hero_static'
  style="background-image:url('{{ section.settings.bg-image.src | img_url: 'large' }}')"
  ​​​​​​
>
  <h1>{{ section.settings.uns_text_line }}</h1>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    { "id": "image", "type": "image_picker", "label": "Background Image" },
    { "id": "uns_text_line", "type": "text", "label": "Header Text", "default": "Snappy words here!" }
  ],
  "presets": [{ "name": "Hero Static Image", "category": "Hero" }]
}
{% endschema %}
