{% schema %}
{
  "name": "Hero Section",
  "settings": [],
  "presets": [
    {
      "name": "Hero Section",
      "category": "layout"
    }
  ]
}
{% endschema %}
<link rel='stylesheet' href='{{ 'hero-section.css' | asset_url }}'>
<section class='background'>
  <p>asdasdas</p>
</section>
