{% schema %}
{
  "name": "Product Showcase",
  "settings": [],
  "presets": [
    {
      "name": "Product Showcase",
      "category": "layout"
    }
  ]
}
{% endschema %}

<link rel='stylesheet' href='{{ 'product-showcase.css' | asset_url }}'>
<div class='parent'>
  <section class='parent-grid'>
    <div class='grid-milk freshmilk'>
      <img src='{{ 'Fresh Milk Showcase.png' | asset_url }}'>
      <div class='description-product'>
        <h3 class='fm-details'>
          Lorem ipsum dolor sit amet consectetur.
          <span class='fm-details'>FRESH MILK</span>
          aliquam lectus scelerisque pretium purus.
        </h3>
        <a href='/'>LEARN MORE</a>
      </div>
    </div>
  </section>
</div>
