{% schema %}
{
  "name": "UPS",
  "settings": [],
  "presets": [
    {
      "name": "UPS",
      "category": "layout"
    }
  ]
}
{% endschema %}

<Section class=''>
  <div class='milk-match'>
    <img src='{{ 'milk-match.png' | asset_url }}'>
    <h2>Manila, meet your milk match!</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur. Nisl quis metus diam mauris non venenatis imperdiet aliquam. Justo nulla
      in felis lectus ac sem adipiscing convallis pellentesque. Dui dui nisl vestibulum molestie ullamcorper ut tempus.
    </p>
  </div>
  <div class='proposition'>
    <div class='premium'>
      <img src='Premium Fresh Quality.png'>
      <h2>Premium Fresh Quality</h2>
      <p></p>
    </div>
    <div class='local'>
      <img src='Locally Produced.png'>
      <h2>Locally Produced</h2>
      <p></p>
    </div>
    <div class='organic'>
      <img src='100% organic.png'>
      <h2>100% Organic</h2>
      <p></p>
    </div>
  </div>
</Section>
