{% schema %}
{
  "name": "UPS",
  "settings": [],
  "presets": [
    {
      "name": "UPS",
      "category": "layout"
    }
  ]
}
{% endschema %}

<Section class=''>
  <div class='milk-match'>
    <img src='{{ 'milk-match.png' | asset_url }}'>
    <h2>Manila, meet your milk match!</h2>
  </div>
</Section>
