{% schema %}
{
  "name": "UPS",
  "settings": [],
  "presets": [
    {
      "name": "UPS",
      "category": "layout"
    }
  ]
}
{% endschema %}

<Section class=''>
  <div class='milk-match'>
    <img src=''>
  </div>
</Section>
