{% schema %}
{
  "name": "Subscript",
  "settings": [],
  "presets": [
    {
      "name": "Subscript",
      "category": "ADVANCED LAYOUT"
    }
  ]
}
{% endschema %}

<section>
  <p>20000000000000</p>
  <img src='{{ 'Subscription-bottle.png' | asset_url }}'>
</section>
