.parent {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.parent-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-milk {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.add-to-cart {
  border-radius: 100px;
}

.description-product {
  margin: 0 13rem;
}
/* Add your other styles for images and text here */
.flex-milk img {
  width: 50%;
  height: auto;
  max-width: 717px;
  max-height: 739.78px;
  flex-shrink: 0;
}
.chocolate {
  flex-direction: row-reverse;
}
.pandan {
  flex-direction: row-reverse;
}
.freshmilk-button {
  background: #b49868;
}
.chocolate-button {
  background: #643b29;
}
.strawberry-button {
  background: #e885b1;
}
.pandan-button {
  background: #519361;
}
.pa-details {
  color: #17702e;
  font-size: 28px;
}
.ch-details {
  color: #643b29;
  font-size: 28px;
}
.button:after {
  content: none;
}
.st-details {
  color: #e885b1;
  font-size: 28px;
}
.fm-details {
  color: #b49868;
  font-size: 28px;
}

.button-hover-addcart {
  border: 2px solid #767676;
  background: transparent;
  color: #767676;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button-hover-addcart span {
  transition: all 0.2s ease-in-out;
}

.button-hover-addcart .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #1779ba;
  right: -20px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-addcart:hover {
  border-color: #1779ba;
  background: transparent;
  transition: border-color 0.2s;
}

.button-hover-addcart:hover span {
  margin-right: 20px;
  color: #1779ba;
}

.button-hover-addcart:hover .fa {
  right: 12px;
}

@media screen and (max-width: 992px) {
  .parent-grid {
    display: block;
  }
  .parent {
    margin: auto;
  }
  .flex-milk {
    flex: none;
    flex-direction: column;
  }
  .flex-milk img {
    width: 100%;
  }
  .description-product {
    margin: auto;
  }
  .pandan {
    margin-top: 5%;
  }
  .freshmilk {
    margin-top: 5%;
  }
  .strawberry {
    margin-bottom: 10%;
  }
}
