.parent {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.parent-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-milk {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}
.add-to-cart {
  border-radius: 100px;
}

.fm-details {
  font-size: 28px;
}
.description-product {
  margin: 0 13rem;
}
/* Add your other styles for images and text here */
.flex-milk img {
  width: 50%;
  height: auto;
  max-width: 748px;
  max-height: 739.78px;
  flex-shrink: 0;
}
.chocolate {
  flex-direction: row-reverse;
}
.pandan {
  flex-direction: row-reverse;
}
.freshmilk-button {
  background: #b49868;
}
.chocolate-button {
  background: #643b29;
}
.strawberry-button {
  background: #e885b1;
}
.pandan-button {
  background: #519361;
}
@media screen and (max-width: 992px) {
  .parent-grid {
    display: block;
  }
  .parent {
    margin: auto;
  }
  .flex-milk {
    flex: none;
    flex-direction: column;
  }
  .flex-milk img {
    width: 100%;
  }
  .description-product {
    margin: auto;
  }
  .pandan {
    margin-top: 5%;
  }
  .freshmilk {
    margin-top: 5%;
  }
  .strawberry {
    margin-bottom: 10%;
  }
}
