.proposition1 {
  padding-top: 5%;
}
.milk-match {
  text-align: center;
  padding: 0 15%;
}

.proposition {
  display: flex;
  justify-content: space-between; /* Distribute items evenly across the container */
  max-width: 1200px; /* Set a maximum width for the container if desired */
  margin: 0 auto;
  flex-wrap: wrap;
}
.organic h2 {
  margin-top: 45px;
}
.flex {
  flex: 1; /* Distribute available space equally among the three columns */ /* Limit the maximum width of each column */
  text-align: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px; /* Add a border for better visualization */
}
p {
  text-align: center;
}
.flex img {
  max-width: 100%; /* Set a maximum width for the images inside the columns */
}

@media screen and (max-width: 992px) {
  .proposition {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .organic h2 {
    margin-top: 16.6px;
  }
}
